{% macro card(heading, image, description, link, tagname, tagplus, genres, preview,index) %}
  <div class="column is-one-third-desktop is-one-quarter-widescreen is-half-tablet is-three-quarters-mobile" >
  <a href={{ link }}> 
  <div class="card has-equal-height">
    <div class="card-image">
      <figure class="image is-square">
        <img src={{ image }} alt="Cover for" {{ heading }}>
      </figure>
    </div>
    <div class="card-content">
        <div class="field">
          <div class="tags has-addons is-paddingless">
           <span class="tag is-dark">{{tagname}}</span>
           <span class="tag is-success">{{tagplus}}</span>
         </div>
        </div>
        <p class="title is-5">{{heading}} </p>
        {% if description|length !== 0 %}
        <p class="has-text-dark">{{ description | safe }}</p>
        {% else %}
        <div class="tags">
          {% for genre in genres %}
          <span class="tag">{{genre}}</span>
          {% endfor %}
        </div>
        {% endif %}
    </div>
    <footer class="card-footer">
      <audio id="player{{index}}">
        <source src="{{preview}}" type='audio/mpeg; codecs="mp3"'>
      </audio>
      <a class="button is-success is-inverted is-medium is-fullwidth card-footer-item" id="player-{{index}}" onClick="togglePlay(player{{index}},this)">
        <span class="icon">
          <i class="fas fa-play"></i>
        </span>
        <span>Preview</span>
      </a>
    </footer>
  </div>
  </a>
  </div>
{% endmacro %}