{% macro card(heading, image, description, link, tagname, tagplus, genres, preview,index) %}
  <div class="column is-one-third-desktop is-one-quarter-widescreen is-half-tablet is-three-quarters-mobile" >
  <a href={{ link }}> 
  <div class="card has-equal-height">
    <div class="card-image ">
         
      <figure class="image is-square ">
        <img data-src={{ image }} class="lazy" alt="Cover for" {{ heading }}>
      </figure>
      <div class="field  inset-shadow is-overlay">
        
      <div class="is-bottom"><p class="title is-5  has-text-centered has-text-white has-shadow">{{heading}} </p></div>
    </div>
    </div>
    <div class="card-content">
        
        {% if description|length !== 0 %}
        <p class="has-text-dark">{{ description | safe }}</p>
        {% else %}
        <div class="tags">
          {% for genre in genres %}
          <span class="tag has-text-weight-semibold">{{genre}}</span>
          {% endfor %}
        </div>
        {% endif %}
    </div>
    <footer class="card-footer">
      <audio id="player{{index}}">
        <source src="{{preview}}" type='audio/mpeg; codecs="mp3"'>
      </audio>
      <div class="card-footer-item  is-size-7">
      <a class="button is-success is-fullwidth is-inverted" id="player-{{index}}" onClick="togglePlay(player{{index}},this)">
        <span class="icon is-large">
          <i class="fas fa-play"></i>
        </span>
        <span>Preview</span>
      </a>
      </div>
      <div class="card-footer-item  is-size-7">
          <span class="tag is-success is-size-7">{{tagplus}} </span>
          <span class="tag is-white">{{tagname}}</span>
      </div>
    </footer>
  </div>
  </a>
  </div>
{% endmacro %}