<section class="section">
  <div class="container">
    <footer>
      <div class="content has-text-centered">
        <p>Made with <a href="https://metalsmith.io">Metalsmith</a>, <a href="https://bulma.io/">Bulma</a> and a bunch of other cool <a href="link to repo">stuff</a>.</p>
        <p><i class="fas fa-bolt"></i>-fast thanks to <a href="https://jamstack.org/">SSG/Jamstack</a> and <a href="https://www.netlify.com">Netlify.</a>
      </div>
    </footer>
  </div>
</section>